@import url("https://fonts.googleapis.com/css?family=Oswald|Lobster|Alfa+Slab+One");
* {
  outline: none; }

body {
  margin: 0 auto;
  background: #4ECDC4;
  background: -webkit-linear-gradient(#4ECDC4, #556270);
  background: linear-gradient(#4ECDC4, #556270); }

.container {
  max-width: 980px;
  margin: 0 auto; }

.p_extend, #aboutme .container > p:first-of-type, #skills .container p:first-of-type, #portfolio .container > p:first-of-type, #contact p:first-of-type {
  font-family: 'Oswald';
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  border-bottom: 2px solid;
  display: inline-block;
  color: #e74c3c;
  text-shadow: 1px 1px black; }

header, nav, header #menu_button button, a, img, li, #menu_button {
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s; }

.visible {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.hidden {
  position: fixed;
  top: -77px;
  left: 0;
  right: 0; }

.menu_button_hidden {
  position: fixed;
  top: -52px;
  right: 0;
  left: 0; }

header {
  position: relative; }
  header nav, header #menu_button button, header ul, header li {
    text-align: center; }
  header img {
    width: 100%;
    opacity: 0.65;
    display: block;
    border-bottom: 4px solid #e74c3c; }
  header ul {
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
    background-color: rgba(46, 204, 197, 0.7);
    display: inline-block;
    border-radius: 0 0 15px 15px; }
    header ul li {
      display: inline-block;
      padding: 0 15px;
      cursor: pointer; }
      header ul li a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s;
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        cursor: pointer; }
        header ul li a:hover {
          color: #e74c3c; }
  header nav, header #menu_button button {
    font-family: 'Oswald';
    font-size: 2rem;
    font-weight: bold;
    z-index: 2; }
  header #menu_button {
    z-index: 2;
    margin: 0 auto;
    text-align: center; }
    header #menu_button button {
      border: none;
      color: white;
      background-color: rgba(46, 204, 197, 0.7);
      padding: 0 15px 5px;
      text-transform: uppercase;
      border-radius: 0 0 15px 15px;
      transition: 0.2s;
      -moz-transition: 0.2s;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      cursor: pointer; }
      header #menu_button button:hover {
        color: #e74c3c; }
  header #name {
    max-width: 980px;
    padding: 5px;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: calc(50% - 980px / 2);
    text-align: center;
    font-size: 3.5rem;
    color: #e74c3c;
    text-shadow: 1px 1px black; }
    header #name p {
      font-family: 'Lobster';
      font-weight: bold; }
    header #name h1 {
      font-family: 'Alfa Slab One';
      text-transform: uppercase;
      margin-bottom: 25px;
      letter-spacing: 5px; }

#aboutme .container {
  text-align: center; }

#aboutme .container > p:first-of-type {
  padding: 0; }

#aboutme .info {
  border-radius: 3px;
  color: #2c3e50;
  overflow: hidden; }
  #aboutme .info p {
    width: 75%;
    margin: 0 auto;
    font-family: helvetica;
    line-height: 200%;
    font-size: 1.3rem;
    padding: 30px;
    margin-bottom: 35px; }
  #aboutme .info p:first-of-type {
    font-size: 2.6rem; }

#skills .container {
  text-align: center; }
  #skills .container p:first-of-type {
    margin-bottom: 70px; }

#skills .flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 8rem;
  margin-bottom: 120px; }

#skills .flex > div {
  width: 25%;
  text-align: center;
  transform: scale(0.8); }

#skills .info {
  width: 75%;
  margin: 0 auto;
  font-family: helvetica;
  line-height: 200%;
  font-size: 2rem;
  padding: 30px;
  margin-bottom: 35px;
  color: #2c3e50; }

#portfolio {
  margin-bottom: 90px; }
  #portfolio .container {
    text-align: center; }
  #portfolio .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  #portfolio .flex > div {
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 45%;
    margin: 15px 15px;
    overflow: hidden; }
    #portfolio .flex > div img {
      width: 100%;
      height: 100%;
      display: block; }
    #portfolio .flex > div > div:first-of-type {
      background-color: rgba(46, 204, 197, 0.7);
      border-radius: 0 0 15px 15px;
      color: white;
      font-family: 'Oswald';
      text-transform: uppercase;
      transition-duration: 0.5s;
      position: absolute;
      top: -70px;
      left: 0;
      right: 0; }
    #portfolio .flex > div > div:last-of-type {
      transition-duration: 500ms;
      position: absolute;
      bottom: -70px;
      left: 0;
      right: 0; }
      #portfolio .flex > div > div:last-of-type button:first-of-type {
        border-right: 0.5px solid #ffffff; }
      #portfolio .flex > div > div:last-of-type button:last-of-type {
        border-left: 0.5px solid #ffffff; }
      #portfolio .flex > div > div:last-of-type button {
        transition-duration: 200ms;
        width: 50%;
        box-sizing: border-box;
        display: inline-block;
        float: left;
        background-color: rgba(46, 204, 197, 0.7);
        border: none; }
        #portfolio .flex > div > div:last-of-type button:hover {
          background-color: #2eccc5; }
        #portfolio .flex > div > div:last-of-type button a {
          text-decoration: none;
          color: white;
          font-family: 'Oswald';
          text-transform: uppercase;
          font-size: 1.4rem; }
  #portfolio .flex > div:hover > div:first-of-type {
    top: 0; }
  #portfolio .flex > div:hover > div:last-of-type {
    bottom: 0; }
  @media (max-width: 465px) {
    #portfolio .flex > div {
      width: 80%; } }

#contact {
  margin-bottom: 90px; }
  #contact .container {
    text-align: center; }
  #contact p {
    font-size: 2rem;
    font-family: 'Lobster';
    color: #50bcb7; }
    #contact p a {
      font-family: 'Oswald';
      text-decoration: none;
      color: #e74c3c; }
  #contact button {
    transition: 0.2s;
    font-family: 'Oswald';
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    cursor: pointer; }
    #contact button:hover {
      background-color: #de1500; }

footer {
  border-top: 2px solid #50bcb7;
  text-align: center;
  text-transform: uppercase; }
  footer p {
    color: #50bcb7;
    font-size: 1.1rem;
    font-family: 'Oswald'; }
