#aboutme
	.container
		text-align: center
	.container>p:first-of-type
		@extend .p_extend
		padding: 0

	.info
		border-radius: 3px
		color: #2c3e50
		overflow: hidden
		p
			width: 75%
			margin: 0 auto
			font-family: helvetica
			line-height: 200%
			font-size: 1.3rem
			padding: 30px
			margin-bottom: 35px

		p:first-of-type
			font-size: 2.6rem	