*
	outline: none

body
	margin: 0 auto
	background: #4ECDC4
	background: -webkit-linear-gradient(#4ECDC4 , #556270)
	background: linear-gradient(#4ECDC4 , #556270)

.container
	max-width: 980px
	margin: 0 auto

.p_extend
	font-family: 'Oswald'
	text-transform: uppercase
	text-align: center
	font-size: 3rem
	border-bottom: 2px solid 
	display: inline-block
	color: #e74c3c
	text-shadow: 1px 1px black
