*
	outline: none

body
	margin: 0 auto
	background-image: url("img/pattern1.png"), linear-gradient(#4ECDC4 , #556270)

.container
	max-width: 980px
	margin: 0 auto

.p_extend
	font-family: 'Oswald'
	text-transform: uppercase
	text-align: center
	font-size: 4rem
	border-bottom: 2px solid 
	display: inline-block
	color: #e74c3c
	text-shadow: 1px 1px black

.col-6
	width: 50%
.col-12
	width: 90%	

html
	@media (max-width: 985px) and (min-width: 426px)
		font-size: 10px