#contact
	margin-bottom: 90px
	.container
		text-align: center
	p:first-of-type
		@extend .p_extend

	p
		font-size: 2rem
		font-family: 'Lobster'
		color: #50bcb7

		a
			font-family : 'Oswald'
			text-decoration: none
			color: #e74c3c

	button
		transition: 0.2s
		font-family: 'Oswald'
		font-size: 2rem
		padding: 10px 20px
		border-radius: 10px
		background-color: #e74c3c
		border: none
		&:hover
			background-color: #de1500
		a
			text-decoration: none
			color: #ffffff
			cursor: pointer


	@media (max-width: 425px)
		margin-bottom: 40px
		p
			font-size: 5rem
		p:last-of-type
			font-size: 6rem
		button
			font-size: 4rem	

		a:last-of-type
			font-size: 4.8rem