#skills
	.container
		text-align: center
		p:first-of-type
			@extend .p_extend
			margin-bottom: 70px
	.flex
		display: flex
		flex-wrap: wrap
		flex-direction: row
		font-size: 8rem
		margin-bottom: 120px
	.flex>div
		width: 25%
		text-align: center
		transform: scale(0.8)	

	.info
		width: 75%
		margin: 0 auto
		font-family: helvetica
		line-height: 200%
		font-size: 2rem
		padding: 30px
		margin-bottom: 35px
		color:  #2c3e50